
<h1>Created events</h1>
<% @event.each do |event| %>
<p>
  <strong>Name:</strong>
  <%= event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= event.location %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
<% end %>

<h1> Future events </h1>
<% current_user.events.each do |attend| %>
  <% if attend.date >= Date.today %>
    <p>
      <strong>Name:</strong>
      <%= attend.name %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= attend.date %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= attend.location %>
    </p>
  <% end %>
<% end %>

<h1> Past events </h1>
<% current_user.events.each do |attend| %>
  <% if attend.date < Date.today %>
    <p>
      <strong>Name:</strong>
      <%= attend.name %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= attend.date %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= attend.location %>
    </p>
  <% end %>
<% end %>
